---
title: UW Course API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell

toc_footers:
  - <a href='#'>Sign Up for a Developer Key</a>
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - errors

search: true
---

# Introduction

Welcome to the UWCourse API! You can use our API to access UWCourse API endpoints, which are used to interact with the course manager backend.

This example API documentation page was created with [Slate](https://github.com/lord/slate). Feel free to edit it and use it as a base for your own API's documentation.

# Authentication

> To authorize, set the HTTP request header X-API-KEY to your API key:

```shell
curl <api_end_point>
  --header "X-API-KEY: api_key"
```

> Make sure to replace `api_key` with the actual API key.

UWCourse API uses API keys to allow access to the API. For now, we don't plan to distribute any API key.

UWCourse expects for the API key to be included in all API requests to the server in a header that looks like the following:

`X-API-KEY: api_key`

<aside class="notice">
You must replace <code>api_key</code> with the actual API key.
</aside>

# Users

## Model

> Example of a user JSON document:

```json
{
  "_id": "5d2eb0c88131a99cb3d6decb",
  "name": "Billy Jeans",
  "username": "notmylover",
  "avatar_url": "<%= config[:domain] %>/pictures/avatar.jpg",
  "faculty": "Mathematics",
  "is_verified": true,
  "program": "Computer Science",
  "favourite_courses": [],
  "taken_courses": [],
  "views": 13,
  "created_at": "2019-07-17T05:32:54.938Z",
  "updated_at": "2019-07-17T05:32:54.938Z",
  "last_login_at": "2019-07-17T05:32:54.938Z"
}
```

The table below illustrates how the publicly exposed User model is defined:

Field | Description
----- | -----------
_id | The internal database ID of a user document
name | Name given by the user<br>

## Get All Users

```shell
curl "<%= config[:domain] %>/<%= config[:api_v] %>/users"
  -H "Authorization: api_key"
```

> The above command returns JSON structured like this:

```json
[
  {
    "_id": "5d2eb0c88131a99cb3d6decb",
    "name": "Billy Jeans",
    "username": "notmylover"
  },
  {
    "id": "5d2eb0d4ff5bf8664a59ac2b",
    "name": "Peter Parker",
    "username": "spiderman"
  }
]
```

This endpoint retrieves all users with minimal details.

### HTTP Request

`GET <%= config[:domain] %>/<%= config[:api_v] %>/kittens`

### Query Parameters

Parameter | Default | Description
--------- | ------- | -----------
include_cats | false | If set to true, the result will also include cats.
available | true | If set to false, the result will include kittens that have already been adopted.

<aside class="success">
Remember — a happy kitten is an authenticated kitten!
</aside>

## Get a Specific Kitten

```ruby
require 'kittn'

api = Kittn::APIClient.authorize!('meowmeowmeow')
api.kittens.get(2)
```

```python
import kittn

api = kittn.authorize('meowmeowmeow')
api.kittens.get(2)
```

```shell
curl "http://example.com/api/kittens/2"
  -H "Authorization: meowmeowmeow"
```

```javascript
const kittn = require('kittn');

let api = kittn.authorize('meowmeowmeow');
let max = api.kittens.get(2);
```

> The above command returns JSON structured like this:

```json
{
  "id": 2,
  "name": "Max",
  "breed": "unknown",
  "fluffiness": 5,
  "cuteness": 10
}
```

This endpoint retrieves a specific kitten.

<aside class="warning">Inside HTML code blocks like this one, you can't use Markdown, so use <code>&lt;code&gt;</code> blocks to denote code.</aside>

### HTTP Request

`GET http://example.com/kittens/<ID>`

### URL Parameters

Parameter | Description
--------- | -----------
ID | The ID of the kitten to retrieve

## Delete a Specific Kitten

```ruby
require 'kittn'

api = Kittn::APIClient.authorize!('meowmeowmeow')
api.kittens.delete(2)
```

```python
import kittn

api = kittn.authorize('meowmeowmeow')
api.kittens.delete(2)
```

```shell
curl "http://example.com/api/kittens/2"
  -X DELETE
  -H "Authorization: meowmeowmeow"
```

```javascript
const kittn = require('kittn');

let api = kittn.authorize('meowmeowmeow');
let max = api.kittens.delete(2);
```

> The above command returns JSON structured like this:

```json
{
  "id": 2,
  "deleted" : ":("
}
```

This endpoint deletes a specific kitten.

### HTTP Request

`DELETE http://example.com/kittens/<ID>`

### URL Parameters

Parameter | Description
--------- | -----------
ID | The ID of the kitten to delete

